/* Layout Geral */
header {
    background: #222;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #222;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
